@using BookShop.Models.ViewModels
@model ProductCategoryViewModel

<div class="container" style="width: 90%">
    <div class="row pt-4">
        <div class="col-2">
            <h2 class="text-primary">Categories</h2>
            <hr />
            <form asp-action="AllProduct" method="post">
                <div class="list-group">
                    @foreach (var category in Model.Categories)
                    {
                        <label class="list-group-item">
                            <input type="checkbox" name="selectedCategories" value="@category.Id" />
                            @category.Name
                        </label>
                    }
                </div>
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-outline-primary">Filter</button>
                </div>
            </form>
        </div>

        <div class="col-10">
            <h2 class="text-primary">Products</h2>
            <hr />
            <div class="row" id="product-container">
                @foreach (var obj in Model.Products)
                {
                    <div class="col-6 col-md-4 col-lg-3 product-item">
                        <a href="@Url.Action("Details", "Home", new { id = obj.Id })">
                            <div class=" mb-4" style="text-align:center">
                                <div class="image-container">
                                    <img src="@obj.ImageUrl" class="card-img-top image" style="height:200px;width:150px;" alt="Product Image">
                                </div>
                                <p>@obj.Title</p>
                                <p style="margin-top:-20px"><strong>Tk. </strong>@(obj.Price)</p>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts {
}
