@model BookShop.Models.ViewModels.ShoppingCart
@{
    ViewData["Title"] = "Details";
}

<form method="post" asp-action="Details">
    <div class="row container">
        <div class="col-4 text-end">
            <img src="@Model.Product.ImageUrl" style="display:block; width:100%" />
        </div>
        <div class="col-8">
            <h1>@Model.Product.Title</h1>
            <div class="row" style="color:#333">
                <div class="col-4">
                    <h4><i class="bi bi-person"></i> @Model.Product.Author</h4>
                </div>
                <div class="col-4">
                    <h4><i class="bi bi-tag"></i> @Model.Product.Category.Name</h4>
                </div>

            </div>
            <p class="desc">@Model.Product.Description</p>
            <h4>ISBN: @Model.Product.ISBN</h4>

            <h4>Price: @Model.Product.Price$</h4>
            <input asp-for="@Model.ProductId" hidden />
            <input asp-for="@Model.Product" hidden />
            <input asp-for="Count" />
            <div class="row mt-5">
                <div class="col-6">
                    <button class="btn btn-primary w-100" type="submit">Add to Cart</button>
                </div>
                <div class="col-6">
                    <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-secondary w-100">Go Back</a>
                </div>
            </div>
        </div>
    </div>
</form>
