@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}

<partial name="_Notification" />

<div class="container">
    <div class="row">
        @foreach (var obj in Model)
        {
            <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                <a href="@Url.Action("Details", "Home", new { id = obj.Id })">
                    <div class=" mb-4" style="text-align:center">
                        <div class="image-container">
                            <img src="@obj.ImageUrl" class="card-img-top image" style="height:200px;width:auto;" alt="Product Image">

                            <div class="card-overlay">
                                <div class="card-details">
                                    <p><span>Author:</span> @obj.Author</p>
                                    <p><span>Category:</span> @obj.Category.Name</p>
                                    <p><span>Price:</span> @(obj.Price) $</p>
                                </div>
                            </div>
                        </div>
                        <p class="card-title" style="text-align:center;">@obj.Title</p>

                    </div>
                </a>


            </div>
        }
    </div>
</div>

<style>

    .card-details{
        color: #fff;
        padding-top: 30px;
    }
    .card-details span{
        font-weight:bold;
    }

    .card-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        opacity: 0;
        transition: opacity 0.3s ease;
    }

        .card-overlay:hover {
            opacity: 1;
        }

    .image-container {
        position: relative;
    }

    .image {
        transition: opacity 0.3s ease;
    }

    .image-container:hover .image {
        opacity: 0.5;
    }

    .card-body {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #fff;
    }

</style>
